:root {
  --border-radius: 8px;
  --primary: 78, 104, 240;
  --success: 67, 214, 99;
  --danger: 240, 78, 78;
  --warning: 240, 117, 78;
  --neutral: #AAABAB;
  --neutral-light: #D9D9D9;
  --gray: #666363;
  --background: #F6F5F5;
  --white: #FEFEFE;
  --text: #272727;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  padding: 12px;
  border-radius: var(--border-radius);
  border: transparent;
  cursor: pointer;
  letter-spacing: 0.6px;
}

.btn.btn-primary,
.btn.btn-danger {
  color: var(--white);
}

.btn.btn-primary {
  background-color: rgb(var(--primary));
}

.btn.btn-danger {
  background-color: rgb(var(--danger));
}

.btn.btn-primary:hover {
  background-color: rgba(var(--primary), 0.93);
}

.btn.btn-danger:hover {
  background-color: rgba(var(--danger), 0.93);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: var(--border-radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--neutral-light);
  border-radius: var(--border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--neutral);
}
